@model CordovaS_LigaPro_Clase03.Models.Equipo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEquipo" class="control-label"></label>
                <input asp-for="NombreEquipo" class="form-control" />
                <span asp-validation-for="NombreEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartidosJugados" class="control-label"></label>
                <input asp-for="PartidosJugados" class="form-control" />
                <span asp-validation-for="PartidosJugados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartidosGanados" class="control-label"></label>
                <input asp-for="PartidosGanados" class="form-control" />
                <span asp-validation-for="PartidosGanados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartidosEmpatados" class="control-label"></label>
                <input asp-for="PartidosEmpatados" class="form-control" />
                <span asp-validation-for="PartidosEmpatados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartidosPerdidos" class="control-label"></label>
                <input asp-for="PartidosPerdidos" class="form-control" />
                <span asp-validation-for="PartidosPerdidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puntos" class="control-label"></label>
                <input asp-for="Puntos" class="form-control" />
                <span asp-validation-for="Puntos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
